.logo
{
    margin-right: 25px;
}
.menubar-right
{
    display: flex;
    align-items: center;
    gap: 25px;
}
.active
{
    background-color:rgb(230, 230, 230);
}
.dropdown-menuf li{
    cursor: pointer;
}